@import "/assets/fonts/cal-sans/CalSans-SemiBold.ttf";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    scroll-behavior: smooth;
  }

  ::-webkit-scrollbar {
    width: 6px;
    margin: 4px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
    padding: 0 4px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 16px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }

  .gradBlack {
    background: linear-gradient(
      146.55deg,
      #232323 32.29%,
      rgba(35, 35, 35, 0) 100%
    );
  }

  .mask:after {
    mask: linear-gradient(rgb(255 255 255) 0 0) content-box,
      linear-gradient(rgb(255 255 255) 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
  }
}
